.background {
    background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
}

.navbar {
    display: block;
    line-height: 61px;
    top: 0;
    margin: 0;
    padding: 0;
    height: 61px;
    border-radius: 4px;
    width: 1300px;
    --def: #96B7C4;
    --inv: #fff;
}

@media (max-width: 1250px) {
    .navbar {
        width: 830px;
        height: 122px;
    }
}

@media (max-width: 900px) {
    .navbar {
        width: 730px;
        height: 122px;
    }
}

.center {
    margin-left: 50%;
    transform: translateX(-50%);
}

a {
    margin-top: 17px;
    text-decoration: none;
    height: 61px;
}

.btn {
    display: inline;
    position: relative;
    padding: 17px 20px;
    padding-left: 37px;
    font-size: 25px;
    color: var(--inv);
    letter-spacing: 13px;
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.btn:before, .btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    z-index: 10000;
    color: var(--def);
    transition-delay: .5s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--inv);
    transition-delay: .3s;
}

.from-middle:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-middle:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--inv);
}

.from-middle:hover:before {
    left: 0;
    width: 100%;
}

.from-middle:hover:after {
    top: 0;
    height: 100%;
}

*:before {
    box-sizing: border-box;
}

.selected {
    background-color: var(--inv);
    color: var(--def);
}

#dropdown {
    overflow: hidden;
    position: absolute;
    width: 318px;
    top: 61px;
    left: 186px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: linear 0.4s;
    text-align: center;
    padding-top: 0;
}

.hide {
    height: 0;
    display: block;
    transition: 0.4s;
}

.show {
    display: block;
    height: 305px;
    transition: 0.4s;
}

.vehicles {
    display: block;
    width: 318px;
    color: grey;
    font-size: 23px;
    margin-top: 0;
}

.vehicles:hover {
    color: var(--inv);
    background: var(--def);
}


body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    height: 100vh;
}
